[submodule "ERT_RF_Protocol_Interface"]
	path = ERT_RF_Protocol_Interface
	url = https://github.com/EPFLRocketTeam/ERT_RF_Protocol_Interface.git
	branch = firehorn
[submodule "2024_C_AV-GS_CAPSULE"]
	path = 2024_C_AV-GS_CAPSULE
	url = https://github.com/EPFLRocketTeam/2024_C_AV-GS_CAPSULE
[submodule "2024_C_AV_INTRANET"]
	path = 2024_C_AV_INTRANET
	url = https://github.com/EPFLRocketTeam/2024_C_AV_INTRANET.git
